
#map {
    width: 810px;
    height: 500px;
}

.query-button {
    margin-top: 30px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
}

.mygrid-wrapper-div {
    border: solid red 5px;
    overflow: scroll;
    height: 220px;
}

.form-addon {
    width: 62px;
}

.form-addon-point {
    width: 51px;
}

.form-wrapper-div {
    border: solid black 2px;
    height: 500px;
    margin-top: 73px;
    margin-left: 40px;
    overflow: scroll;
    padding: 10px;
    width: 100%;
}

.query-form {
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    width:90%;

}

.query-form-label {
    margin-top: 15px;
}
