
#map {
    width: 790px;
    height: 490px;
    margin-left: 15px;
}

.query-button {
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
    bottom: 0;
}

.query-buttons {
    margin-left: 15px;
}

.mygrid-wrapper-div {
    border: solid #337AB7 2px;
    overflow: scroll;
    height: 200px;
    width: 90%;
    margin-top: 20px;
    margin-botton: 20px;
    margin-left: 15px;
    margin-right: 0px;
}

.result-wrapper-div {
    border: solid black 2px;
    margin-left: -47px;
    margin-right: 0px;
    padding-right: 0px;
    margin-top: 20px;
    overflow: scroll;
    height: 200px;
    width: 122%;
    margin-bottom: 20px;
    padding-left: 10px;
}

.form-addon {
    width: 62px;
}

.form-addon-point {
    width: 51px;
}

.form-wrapper-div {
    border: solid black 2px;
    height: 490px;
    margin-top: 0px;
    margin-left: 40px;
    overflow: scroll;
    padding: 10px;
    width: 100%;
}

.query-form {
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    width:90%;

}

.query-form-label {
    margin-top: 15px;
}
