<div class="row">
    <div class="cointainer form-wrapper-div">
        <h4>Syntactic Query 1 Area</h4>
        <p>Drag and/or resize the rectangle until it properly represents the area you are interested in querying.</p>
        <div class="input-group">
            <label class="query-form-label">Area defined by:</label>
            <div class="input-group query-form">
                <span class="input-group-addon form-addon-point">NE:</span>
                <input type="text" class="form-control" name="b2" id="b2" placeholder="51.50295659940793" aria-describedby="basic-addon1">
                <input type="text" class="form-control" name="a2" id="a2" placeholder="-0.15713320190434388" aria-describedby="basic-addon1">
            </div>
            <div class="input-group query-form">
                <span class="input-group-addon form-addon-point">SW:</span>
                <input type="text" class="form-control" name="b1" id="b1" placeholder="51.49004560059794" aria-describedby="basic-addon1">
                <input type="text" class="form-control" name="a1" id="a1" placeholder="-0.18968685180664124" aria-describedby="basic-addon2">
            </div>
            <label class="query-form-label">Time interval:</label>
            <div class="input-group query-form">
                <span class="input-group-addon form-addon">From:</span>
                <div class='input-group date' id='datetimepicker5'>
                    <input type='text' class="form-control" id="from_time"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="input-group query-form">
                <span class="input-group-addon form-addon">To:</span>
                <div class='input-group date' id='datetimepicker6'>
                    <input type='text' class="form-control" id="to_time"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <button type="button" onclick="issuePOSTRequest(formFields1, url1);" class="btn btn-info query-button">
            <span class="glyphicon glyphicon-star" id="synQuery1Button" aria-hidden="true"></span> Send Query
        </button>
    </div>
</div>
<div class="row">
    <div class="result-wrapper-div" id="results-div">
    </div>
</div>