<div class="row">
    <div class="cointainer form-wrapper-div">
        <h4>Syntactic Query 2 Areas</h4>
        <p>Drag and/or resize the rectangles until they properly represent the areas you are interested in querying.<br>
           <font color="#32cd32">Green</font> represents the departing area, and <font color="#ffff00">yellow</font> represents the arrival area.</p>
        <div class="input-group">
            <label class="query-form-label">From area defined by:</label>
            <div class="input-group query-form">
                <span class="input-group-addon form-addon-point">NE:</span>
                <input type="text" class="form-control" id="b2" value="51.50658951734918" aria-describedby="basic-addon1">
                <input type="text" class="form-control" id="a2" value="-0.14511690551762513" aria-describedby="basic-addon1">
            </div>
            <div class="input-group query-form">
                <span class="input-group-addon form-addon-point">SW:</span>
                <input type="text" class="form-control" id="b1" value="51.49175572946021" aria-describedby="basic-addon1">
                <input type="text" class="form-control" id="a1" value="-0.19380672485351624" aria-describedby="basic-addon2">
            </div>
            <label class="query-form-label">To area defined by:</label>
            <div class="input-group query-form">
                <span class="input-group-addon form-addon-point">NE:</span>
                <input type="text" class="form-control" id="d2" value="51.527206181032156" aria-describedby="basic-addon1">
                <input type="text" class="form-control" id="c2" value="-0.07181749755864075" aria-describedby="basic-addon1">
            </div>
            <div class="input-group query-form">
                <span class="input-group-addon form-addon-point">SW:</span>
                <input type="text" class="form-control" id="d1" value="51.508426124229345" aria-describedby="basic-addon1">
                <input type="text" class="form-control" id="c1" value="0.12428386718750062" aria-describedby="basic-addon2">
            </div>
            <label class="query-form-label">Time interval:</label>
            <div class="input-group query-form">
                <span class="input-group-addon form-addon">From:</span>
                <div class='input-group date' id='datetimepicker7'>
                    <input type='text' class="form-control" id="from_time"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="input-group query-form">
                <span class="input-group-addon form-addon">To:</span>
                <div class='input-group date' id='datetimepicker8'>
                    <input type='text' class="form-control" id="to_time"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-info query-button" onclick="issuePOSTRequest(formFields2, url2);">
            <span class="glyphicon glyphicon-star" id="queryButton" aria-hidden="true" disabled></span> Send Query
        </button>
    </div>
</div>
<div class="row">
    <div class="result-wrapper-div" id="results-div">
    </div>
</div>