<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PrivMarket</title>
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/query.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
        <script type="text/javascript" src="../static/js/jquery.js"></script>
        <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../static/bower_components/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="../static/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="../static/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="header"><nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="#">Home</a></li>
                    <li role="ubicomp"><a href="/ubicomp">Ubicomp</a></li>
                    <li role="tfl"><a href="/tfl">TFL Gen</a></li>
                    <li role="query" class="active"><a href="#">Query</a></li>
                </ul></nav>
                <h3 class="text-muted">PrivMarket</h3>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-info active query-button">
                                <input type="radio" name="options" id="opt_stop" onchange="getSemanticMap()" autocomplete="off"> Stop points
                            </label>
                            <label class="btn btn-info query-button">
                                <input type="radio" name="options" id="opt_syn_1" onchange="getSyntacticOneArea()" autocomplete="off"> Syntactic 1 Area
                            </label>
                            <label class="btn btn-info query-button">
                                <input type="radio" name="options" id="opt_syn_2" onchange="getSyntacticTwoAreas()" autocomplete="off"> Syntactic 2 Areas
                            </label>
                            <label class="btn btn-info query-button">
                                <input type="radio" name="options" id="opt_sem_1" onchange="getSemanticOneArea()" autocomplete="off"> Semantic 1 Area
                            </label>
                            <label class="btn btn-info query-button">
                                <input type="radio" name="options" id="opt_sem_2" onchange="getSemanticTwoAreas()" autocomplete="off"> Semantic 2 Areas
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div id="map">
                        </div>
                    </div>
                    <div class="row">
                        Current stop points:
                        <div class="mygrid-wrapper-div">
                            <ul class="stops">
                                {% for stop in stop_points %}
                                <li> {{ stop[0] }}; {{ stop[1] }}; {{ stop[2] }}; {{ stop[3] }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div id="query-form">
                    </div>
                </div>
            </div>
        </div>
        <script>
            var rectangle;
            var map;
            var infoWindow;

            function getSemanticMap() {
                var mapDiv = document.getElementById('map');
                map = new google.maps.Map(mapDiv, {
                    center: {lat: 51.508226, lng: -0.128404},
                    zoom: 10
                });
                var markers = [];
                var size = -1;
                var pinColor = "BDBDBF";
                var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
                        new google.maps.Size(21, 34),
                        new google.maps.Point(0, 0),
                        new google.maps.Point(10, 34));
                var pinColor2 = "FE7569";
                var pinImage2 = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor2,
                        new google.maps.Size(21, 34),
                        new google.maps.Point(0, 0),
                        new google.maps.Point(10, 34));
                {% for stop in stop_points %}
                    var mkr = new google.maps.Marker({
                        position: {lat: {{ stop[2] }}, lng: {{ stop[3]}}},
                        map: map,
                        icon: pinImage,
                        opacity: 0.3
                    });
                    markers.push(mkr);
                    size++;
                    markers[size].addListener('mouseover', function () {
                        this.setIcon(pinImage2);
                        this.setOpacity(1);
                    });
                    markers[size].addListener('mouseout', function () {
                        this.setIcon(pinImage);
                        this.setOpacity(0.3);
                    });
                    markers[size].addListener('click', function () {
                        var infowindow = new google.maps.InfoWindow({
                            content: "{{ stop[1] }}"
                        });
                        infowindow.open(map, this);
                    });
                {% endfor %}
            }


            function fillFormById(id, value) {
                $(function(){
                    document.getElementById(id).value = value;
                })
            }

            function fillRectangleCoordinates(ne, sw) {
                fillFormById('a1', sw.lng());
                fillFormById('a2', ne.lng());
                fillFormById('b1', sw.lat());
                fillFormById('b2', ne.lat());
            }

            function addAreaOptions(map) {
                var bounds = {
                        north: 51.50295659940793,
                        south: 51.49004560059794,

                        east: -0.15713320190434388,
                        west: -0.18968685180664124
                    };
                rectangle = new google.maps.Rectangle({
                    bounds: bounds,
                    editable: true,
                    draggable: true
                });
                rectangle.setMap(map);
                ne = rectangle.getBounds().getNorthEast();
                sw = rectangle.getBounds().getSouthWest();
                // Add an event listener on the rectangle.
                rectangle.addListener('bounds_changed', showNewRect);

                // Define an info window on the map.
                infoWindow = new google.maps.InfoWindow();
            }

            function getSyntacticMap() {
                var mapDiv = document.getElementById('map');
                map = new google.maps.Map(mapDiv, {
                    center: {lat: 51.508226, lng: -0.128404},
                    zoom: 12
                });
                addAreaOptions(map);
            }

            function getSyntacticOneArea() {
                $(function(){
                    $("#query-form").load("templates/syntactic_query_1");
                });
                getSyntacticMap();
            }

            function getSyntacticTwoAreas() {
                $(function(){
                    $("#query-form").load("templates/syntactic_query_2");
                });
                getSyntacticMap();
            }

            function getSemanticOneArea() {
                $(function(){
                    $("#query-form").load("templates/semantic_query_1");
                });
                getSemanticMap();
            }

            function getSemanticTwoAreas() {
                $(function(){
                    $("#query-form").load("templates/semantic_query_2");
                });
                getSemanticMap();
            }

            // Show the new coordinates for the rectangle in an info window.
            /** @this {google.maps.Rectangle} */
            function showNewRect(event) {
                var ne = rectangle.getBounds().getNorthEast();
                var sw = rectangle.getBounds().getSouthWest();
                var contentString = '<b>Rectangle moved.</b><br>' +
                        'NE: ' + ne.lat() + ', ' + ne.lng() + '<br>' +
                        'SW: ' + sw.lat() + ', ' + sw.lng();
                // Set the info window's content and position.
                infoWindow.setContent(contentString);
                infoWindow.setPosition(ne);
                infoWindow.open(map);
                fillRectangleCoordinates(ne, sw);
            }

            function showResult(value) {
                var resDiv = document.getElementBYId('result-div');
                resDiv.html = value;
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX9j7cn2KqYk6cmlmDcXEJmpxSUzEPUWw&callback=getSemanticMap" async defer>
        </script>
  </body>
</html>