<!DOCTYPE html>
<html>
    <head>
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/query.css" rel="stylesheet">
        <script src="../static/js/jquery.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="container">
            <div class="header"><nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="#">Home</a></li>
                    <li role="ubicomp"><a href="/ubicomp">Ubicomp</a></li>
                    <li role="tfl"><a href="/tfl">TFL Gen</a></li>
                    <li role="query" class="active"><a href="#">Query</a></li>
                </ul></nav>
                <h3 class="text-muted">PrivMarket</h3>
            </div>

            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-info active query-button">
                                <input type="radio" name="options" id="option1" onchange="initMap()" autocomplete="off" checked> Stop points list
                            </label>
                            <label class="btn btn-info query-button">
                                <input type="radio" name="options" id="option2" onchange="getSyntacticMap()" autocomplete="off"> Syntactic Query 1 Area
                            </label>
                            <label class="btn btn-info query-button">
                                <input type="radio" name="options" id="option2" onchange="getSyntacticMap()" autocomplete="off"> Syntactic Query 2 Areas
                            </label>
                            <label class="btn btn-info query-button">
                                <input type="radio" name="options" id="option2" onchange="getSyntacticMap()" autocomplete="off"> Semantic Query 1 Area
                            </label>
                            <label class="btn btn-info query-button">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Semantic Query 2 Areas
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div id="map">
                        </div>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <div class="cointainer form-wrapper-div">
                            <div class="input-group">
                                <label class="query-form-label" for="basic-addon1">From Latitude-Longitude Coordinates:</label>
                                <div class="input-group query-form">
                                    <span class="input-group-addon" id="basic-addon1">Lat.</span>
                                    <input type="text" class="form-control" placeholder="Latitude" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group query-form">
                                    <span class="input-group-addon" id="basic-addon2">Lon.</span>
                                    <input type="text" class="form-control" placeholder="Longitude" aria-describedby="basic-addon2">
                                </div>
                            </div>

                            <div class="input-group">
                                <label class="query-form-label" for="from-stop"><it>... or </it>from Tube Stop: </label>
                                <input type="text" class="form-control" id="from-stop" placeholder="Name of tube stop">
                            </div>

                            <div class="input-group">
                                <label class="query-form-label" for="basic-addon3">To Latitude-Longitude Coordinates:</label>
                                <div class="input-group query-form">
                                    <span class="input-group-addon" id="basic-addon3">Lat.</span>
                                    <input type="text" class="form-control" placeholder="Latitude" aria-describedby="basic-addon3">
                                </div>
                                <div class="input-group query-form">
                                    <span class="input-group-addon" id="basic-addon4">Lon.</span>
                                    <input type="text" class="form-control" placeholder="Longitude" aria-describedby="basic-addon4">
                                </div>
                            </div>

                            <div class="input-group">
                                <label class="query-form-label" for="to-stop"><it>... or </it>to Tube Stop: </label>
                                <input type="text" class="form-control" id="to-stop" placeholder="Name of tube stop">
                            </div>

                            <button type="button" class="btn btn-info query-button">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Send Query
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    Current stop points:
                    <div class="mygrid-wrapper-div">
                        <ul class="stops">
                            {% for stop in stop_points %}
                            <li> {{ stop[0] }}; {{ stop[1] }}; {{ stop[2] }}; {{ stop[3] }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function initMap() {
                var mapDiv = document.getElementById('map');
                var map = new google.maps.Map(mapDiv, {
                    center: {lat: 51.508226, lng: -0.128404},
                    zoom: 10
                });
                var markers = [];
                var size = -1;
                var pinColor = "BDBDBF";
                var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
                        new google.maps.Size(21, 34),
                        new google.maps.Point(0, 0),
                        new google.maps.Point(10, 34));
                var pinColor2 = "FE7569";
                var pinImage2 = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor2,
                        new google.maps.Size(21, 34),
                        new google.maps.Point(0, 0),
                        new google.maps.Point(10, 34));
                {% for stop in stop_points %}
                    var mkr = new google.maps.Marker({
                        position: {lat: {{ stop[2] }}, lng: {{ stop[3]}}},
                        map: map,
                        icon: pinImage,
                        opacity: 0.3
                    });
                    markers.push(mkr);
                    size++;
                    markers[size].addListener('mouseover', function () {
                        this.setIcon(pinImage2);
                        this.setOpacity(1);
                    });
                    markers[size].addListener('mouseout', function () {
                        this.setIcon(pinImage);
                        this.setOpacity(0.3);
                    });
                    markers[size].addListener('click', function () {
                        var infowindow = new google.maps.InfoWindow({
                            content: "{{ stop[1] }}"
                        });
                        infowindow.open(map, this);
                    });
                {% endfor %}
            }

            function addAreaOptions() {

                var bounds = {
                        north: 51.548154,
                        south: 51.648154,

                        east: -0.074695,
                        west: -0.195695
                    };
                    var rectangle = new google.maps.Rectangle({
                    bounds: bounds,
                    editable: true
                    });
                    rectangle.setMap(map);
                addForm();
            }

            function getSyntacticMap() {
                    var mapDiv = document.getElementById('map');
                    var map = new google.maps.Map(mapDiv, {
                        center: {lat: 51.508226, lng: -0.128404},
                        zoom: 10
                    });
                    addAreaOptions();
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer>
        </script>
  </body>
</html>